html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f6f6ee !important;
}

#root {
  width: 100%;
}

.form-submit {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}
.form-submit .checkbox {
  font-weight: 400;
}
.form-submit .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-submit .form-control:focus {
  z-index: 2;
}
.form-submit input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-submit input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropzone {
  position: relative;
  width: 100%;
  height: 200px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
  margin-bottom: 4pt;
}