#root {
    width: 100%;
}

.mid-width {
    width: 100%;
    max-width: 700px;
    padding: 15px;
    margin: auto;
}

.dropzone {
    margin: auto;
    width: 100%;
    max-width: 400px;
    height: 100px;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
}

.table tbody td.cell-ellipsis {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

pre.exception {
    margin: 1rem;
}